<div class="card-group evet-card text-light mb-2" >
    <div class="card mb-0">
      <div class="card-body py-1">
        <div class="row">
          <div class="col-5 col-sm-3">
            <div class="display-4 ">
              <span class="badge">23</span>
            </div>
            <div class="display-4">
              {{this.settoreDataEvento.getDataEvento().getDataFine()}}
            </div>
          </div>
          <div class="col-7 col-sm-9">
            <div class="d-flex flex-column">
              <h3 class="card-title text-uppercase mt-0">
                <strong>Steps to Build a card</strong>                    
              </h3>
              <div class="card-text">
                This is some random text. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              </div>
              <ul class="list-inline mt-auto">
                <li class="list-inline-item"> <strong>Published By :</strong></li>
                <li class="list-inline-item"><i class="fas fa-user"></i> Rocky Balboa</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-0">
      <div class="card-body py-1">
        <div class="row h-100">
          <div class="col-5 col-sm-4">
            <ul class="list-group my-0 pl-1">
              <li class="list-inline-item"><i class="far fa-clock"></i> 2:30-4:00 PM</li>
              <li class="list-inline-item"><i class="fas fa-calendar-check"></i> Friday</li>
              <li class="list-inline-item"><i class="fas fa-map-marker-alt"></i> New-Delhi</li>
              <li class="list-inline-item"><i class="fas fa-location-arrow"></i> Room 4019</li>
              <li class="list-inline-item"><i class="fas fa-stopwatch"></i> 120 min</li>
            </ul>
          </div>
          <div class="col-7 col-sm-8 bg-white text-dark">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>