html {
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: #444;
  }
  
  body {
    margin: 0;
    background: #504f4f;
    font-size: 1em;
  }
  
  .wrapper {
    margin: 15px auto;
    max-width: 1100px;
  }
  
  .container-calendar {
    background: #ffffff;
    padding: 15px;
    /*     max-width: 475px; */
    margin: 0 auto;
    overflow: auto;
  }
  
  .button-container-calendar button {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #ba9643;
    color: #fff;
    border: 1px solid #ba9643;
    border-radius: 4px;
    padding: 5px 10px;
  }
  
  .table-calendar {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table-calendar td, .table-calendar th {
    padding: 5px;
    border: 1px solid #e2e2e2;
    text-align: center;
    vertical-align: top;
  }
  
  .date-picker.selected {
    font-weight: bold;
  /*   outline: 1px dashed #00BCD4; */
  }
  
  .date-picker.selected span {
    display: block;
  /*   border-bottom: 2px solid currentColor; */
  }
  
  /* sunday */
  .date-picker:nth-child(1) {
    color: red;
  }
  
  /* friday */
  .date-picker:nth-child(6) {
    color: green;
  }
  
  #monthAndYear {
    text-align: center;
    margin-top: 0;
  }
  
  .button-container-calendar {
    position: relative;
    margin-bottom: 1em;
    overflow: hidden;
    clear: both;
  }
  
  #previous {
    float: left;
  }
  
  #next {
    float: right;
  }
  
  #calendar-body .date-group{
    display: none;
  }
  #calendar-body .date-group.currentweek{
    display: block;
  }
  #calendar-body .date-group.currentweek{
    font-size: 70px;
    line-height: 1;
    font-weight: bold;
    color: #ba9643;
    display: block;
  }
  #calendar-body .date-group.currentweek .date-picker.selected  {
    background: #ba9643;
    color: #fff!important;
    border-color: transparent;
    border-radius: 5px;
  }
  #thead-month .thead-head > div,
  #calendar-body .date-group > div{
    display: inline-block;
    padding: 0 15px;
    margin: 0 auto;
    width: 14%;
    min-width: 60px;
    text-align: center;
  }
  
  .footer-container-calendar {
    margin-bottom: 1em;
    border-bottom: 1px solid #dadada;
    padding: 10px 0;
  }
  
  .footer-container-calendar select {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #ffffff;
    color: #585858;
    border: 1px solid #bfc5c5;
    border-radius: 3px;
    padding: 5px 1em;
  }   
  .evet-card > .card .list-inline-item {
    color: #ba9643;
    font-size: 14px;
  }
  .evet-card > .card .badge {
    background: #ba9643;
  }
  .evet-card > .card {
    background: #242021;
  }