<div style="display:flex; justify-content:center;">
<form id="registrazione" style="width:30%" [formGroup]="dati" (ngSubmit)="invio()">
    <h3 style="text-align: center;">Registrati</h3>
    <span class="badge badge-danger " style="background-color: red; margin-top: 5px;" *ngIf="this.errore">{{this.errorone}}</span> 
    <div class="form-group">
      <label >Nome</label>
      <input maxlength="20" type="text" formControlName="nome" class="form-control" aria-describedby="emailHelp" placeholder="Inserisci il nome">
    </div>
    <div class="form-group">
      <label >Cognome</label>
      <input maxlength="20" type="text" class="form-control" formControlName="cognome" placeholder="cognome">
    </div>
    <div class="form-group">
      <label >Sesso</label>
      <!--<input type="text" class="form-control" formControlName="genere"  placeholder="Sesso">-->
      <input type="radio" formControlName="genere" value="M" > Maschio
      <input type="radio" formControlName="genere" value="F"> Femmina
    </div>
    <div class="form-group">
      <label >Email</label>
      <input maxlength="45" type="email" class="form-control" formControlName="email" placeholder="email">
    </div>
    <div class="form-group">
      <label >Password</label>
      <input maxlength="20" type="password" class="form-control" formControlName="password"  placeholder="password">
    </div>
  
    <div class="form-group">
      <label >Data di nascita</label>
      <input type="date" class="form-control" formControlName="data_di_nascita"   [max]="date">
    </div>
  
    <div class="form-group">
      <label >Luogo di nascita</label>
      <input maxlength="45" type="text" class="form-control" formControlName="luogo_di_nascita"  placeholder="luogo di nascita">
    </div>
  
    <div class="form-group">
      <label >Codice Fiscale</label>
      <input maxlength="16" type="text" class="form-control" formControlName="codice_fiscale"  placeholder="codice fiscale">
    </div>
    <div id="subMit">
    <button type="submit" [disabled]="dati.invalid" class="btn btn-primary button-12">Submit</button>
    </div>
  </form>
</div>