body {
  background-color: #f9f9fa
}



.padding {
  margin-top: 3rem !important
}

.user-card-full {
  overflow: hidden;
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
  box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
  border: none;
  margin-bottom: 30px;
}

.m-r-0 {
  margin-right: 0px;
}

.m-l-0 {
  margin-left: 0px;
}

.user-card-full .user-profile {
  border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
      background: -webkit-gradient(linear, left top, right top, from(#463816), to(#ba9643));
  background: linear-gradient(to right, #463816, #ba9643);
}

.user-profile {
  padding: 20px 0;
}

.card-block {
  padding: 1.25rem;
}

.m-b-25 {
  margin-bottom: 25px;
}

.img-radius {
  border-radius: 5px;
  height: 150px;
}

#prenEff {
  display:flex;
  justify-content: center;
  background: linear-gradient(to right, #463816, #ba9643);

}

#info{

  font-size: 20px;
}

h6 {
  margin-top:10px;
  font-size: 16px;
}

.card .card-block p {
  line-height: 25px;
}

@media only screen and (min-width: 1400px){
p {
  font-size: 18px;
}
}

.card-block {
  padding: 1.25rem;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
  margin-bottom: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.card .card-block p {
  line-height: 25px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.text-muted {
  color: #919aa3 !important;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
  font-weight: 600;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-t-40 {
  margin-top: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-t-40 {
  margin-top: 20px;
}

.user-card-full .social-link li {
  display: inline-block;
}

.user-card-full .social-link li a {
  font-size: 20px;
  margin: 0 10px 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


#utentiInvitati {
  border:none;
  height: 30px;
  font-size:15px;
  margin-top:10px;
}



html {
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.4;
  color: #444;
}

body {
  margin: 0;
  background: #504f4f;
  font-size: 1em;
}

.wrapper {
  margin: 15px auto;
  max-width: 1100px;
}

.container-calendar {
  background: #ffffff;
  padding: 15px;
  /*     max-width: 475px; */
  margin: 0 auto;
  overflow: auto;
}

.button-container-calendar button {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #ba9643;
  color: #fff;
  border: 1px solid #ba9643;
  border-radius: 4px;
  padding: 5px 10px;
}

.table-calendar {
  border-collapse: collapse;
  width: 100%;
}

.table-calendar td, .table-calendar th {
  padding: 5px;
  border: 1px solid #e2e2e2;
  text-align: center;
  vertical-align: top;
}

.date-picker.selected {
  font-weight: bold;
/*   outline: 1px dashed #00BCD4; */
}

.date-picker.selected span {
  display: block;
/*   border-bottom: 2px solid currentColor; */
}

/* sunday */
.date-picker:nth-child(1) {
  color: red;
}

/* friday */
.date-picker:nth-child(6) {
  color: green;
}

#monthAndYear {
  text-align: center;
  margin-top: 0;
}

.button-container-calendar {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
  clear: both;
}

#previous {
  float: left;
}

#next {
  float: right;
}

#calendar-body .date-group{
  display: none;
}
#calendar-body .date-group.currentweek{
  display: block;
}
#calendar-body .date-group.currentweek{
  font-size: 70px;
  line-height: 1;
  font-weight: bold;
  color: #ba9643;
  display: block;
}
#calendar-body .date-group.currentweek .date-picker.selected  {
  background: #ba9643;
  color: #fff!important;
  border-color: transparent;
  border-radius: 5px;
}
#thead-month .thead-head > div,
#calendar-body .date-group > div{
  display: inline-block;
  padding: 0 15px;
  margin: 0 auto;
  width: 14%;
  min-width: 60px;
  text-align: center;
}

.footer-container-calendar {
  margin-bottom: 1em;
  border-bottom: 1px solid #dadada;
  padding: 10px 0;
}

.footer-container-calendar select {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #ffffff;
  color: #585858;
  border: 1px solid #bfc5c5;
  border-radius: 3px;
  padding: 5px 1em;
}   
.evet-card > .card .list-inline-item {
  color: #ba9643;
  font-size: 14px;
}
.evet-card > .card .badge {
  background: #ba9643;
}
.evet-card > .card {
  background: #242021;
}








.rate {
  float: left;
  height: 46px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}






#commento{
  width: 95%;
  margin: 0 auto;
}

.rate1 {
  float: left;
  height: 46px;
}
.rate1:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate1:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate1:not(:checked) > label:before {
  content: '★ ';
}
.rate1 > input:checked ~ label {
  color: #ffc700;    
}












.modal-header
 {
  color:white;
  background: linear-gradient(to right, #463816, #ba9643);
 }

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */