<form [formGroup]="dati" (ngSubmit)="invio()">
  <div class="row" style="margin-top: 20px">
    <!-- dropdown del menu filtri-->
    <div class="col-2">
  

      <select formControlName="categoria" class="form-select" aria-label="Default select example">
        <option selected value="">Scegli la categoria</option>
        <option *ngFor="let item of categorie" value="{{item}}">{{item}}</option>
      </select>
    </div>

    <div class="col-2">
      <input type="text" formControlName="autore" class="form-control" placeholder="Inserisci l'autore" />
    </div>

    <div class="col-4" style="display: flex; justify-content: space-evenly">
      <label class="col-2" style="margin: auto">Da</label>
      <input formControlName="dataInizio" type="date" class="form-control col-10" [min]="date" [max]="this.dati.get('dataFine')?.value!=''?this.dati.get('dataFine')?.value:null " />
    </div>

    <div class="col-4" style="display: flex; justify-content: space-evenly">
      <label class="col-2" style="margin: auto">A</label>
      <input type="date" formControlName="dataFine" class="form-control col-10" [min]="this.dati.get('dataInizio')?.value!=''?this.dati.get('dataInizio')?.value:date" />
    </div>
  </div>
  <input class="removeFilter button-12" id="applicaFiltri" type="submit" value="applica filtri">
  <button type="button" class="removeFilter button-12" (click)="resettaFiltri()">rimuovi filtri</button>
</form>



<app-ca-card *ngFor="let item of settoreDataEvento; let i=index" [settoreDataEvento]="this.settoreDataEvento[i]">
</app-ca-card>
